<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
        <parameter name="url" value="https://cheapflights.com/"/>
    <test name="Choosing flight from Moscw to Tokyo">
        <classes>
            <class name="com.epam.selenium.CheapFlightsTest">
                <methods>
                    <include name="fillInForm">
                        <parameter name="origin" value="Moscow"/>
                        <parameter name="destination" value="Tokyo"/>
                        <parameter name="period" value="October"/>
                        <parameter name="startDate" value="7"/>
                        <parameter name="endDate" value="20"/>
                        <parameter name="numberOfAdults" value="2"/>
                    </include>
                    <include name="filterResults">
                        <parameter name="searchPageUrl" value="https://global.cheapflights.com/flight-search/MOW-TYO"/>
                        <parameter name="dollarSign" value="$"/>
                        <parameter name="sumPattern" value="[\$\r\n]*(([0-5][0-4][0-9])|([0-4][0-9][0-9]))[.\r\n]*"/>
                        <parameter name="currencySymbolXpath" value="//div[@class='quicklink cheapest clearfix selected-filter']//span[@class='symbol']"/>
                        <parameter name="sumXpath" value="//div[@class='quicklink cheapest clearfix selected-filter']//span[@class='value']"/>
                        <parameter name="cheapestFlightXpath" value="(//div[@class='above-button']//a[@class='booking-link']/span[@class='price option-text'])[1]"/>
                        <parameter name="sliderDivider" value="4"></parameter>
                        <parameter name="sliderMultiplier" value="3"></parameter>
                    </include>
                </methods>
            </class>

        </classes>
    </test>


</suite>