<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
    <listeners>
        <listener class-name="com.cheapflights.listeners.TestsListener"/>
    </listeners>
    <test name="Choosing flight from Moscow to Tokyo">

        <classes>
            <class name="com.cheapflights.tests.CheapFlightsTest">
            </class>
        </classes>
    </test>

</suite>